.header-bg {
  background-color: var(--c12-color);
}
.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header-menu {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.header-menu a {
  display: inline-block;
  padding: 16px 0px;
  color: var(--w-color);
  position: relative;
}
.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background: var(--w-color);
  transition: 0.3s;
  margin-top: 4px;
  position: absolute;
}
.header-menu a:hover:after {
  width: 100%;
}
@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background: var(--c11-color);
    padding: 12px 16px;
    border-radius: 4px;
  }
  .header-menu a:hover {
    background: var(--c10-color);
  }
  .header a::after {
    display: none;
  }
}
@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
  }
}
