.vantagens-bg {
  background-color: var(--c12-color);
}
.vantagens {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}
.vantagens h2 {
  color: var(--c1-color);
  margin-bottom: 60px;
}
.vantagens ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
  gap: 40px 80px;
}
.vantagens h3,
.vantagens img {
  margin-bottom: 8px;
}
.vantagens h3 {
  color: var(--c1-color);
}
.vantagens p {
  color: var(--c5-color);
}
@media (max-width: 800) {
  .vantagens-bg {
    --padding: 60px;
  }
  .vantagens h2 {
    margin-bottom: 40px;
  }
  .vantagens ul {
    gap: 20px;
  }
}
